<!doctype html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Side-b</title>
        <!-- <link href="assets/css/mobile.css" type="text/css" rel="stylesheet">
        -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.min.js"></script>
        <script src="assets/lib/lodash.js"></script>
        <style>
          #control{

          }
          #stick1{
            position: relative;
            background: black;
            left: 70px;
            top: 70px;
          }
          .joystick{

          }
          .pad{
            position: absolute;
            background: red;
          }
        </style>
        <script> 
          window.onload = function() {  
            var controls = document.querySelector("#controls");
            var stick1 = document.querySelector("#stick1");
            var socket = io.connect( window.location.origin, {query: 'user='+name, type: 'mobile'});
            /////////////////////////////////////
            //Joystick function
            //--This could be more generic
            /////////////////////////////////////
            function make_joystick(stick, size) {
              //Add pad for user to pull
              stick.innerHTML = "<div class='pad'></div>";
              //set the whole joystick's size 
              stick.style.width = size+"px";
              stick.style.height = size+"px";
              stick.style.borderRadius = size/2+"px";
              //get reference to the pad
              var pad = stick.querySelectorAll(".pad")[0];
              var pad_x = size/3, pad_y = size/3;
              //set the pad's styles
              pad.style.width = size/3+"px";
              pad.style.height = size/3+"px";
              pad.style.borderRadius = size/6+"px";
              pad.style.top = pad_x+"px";
              pad.style.left = pad_y+"px";
              //Make it dragable
              var drag_pad = new Draggabilly(pad, {
                containment: stick
              });
              //snap it to the center of the stick
              drag_pad.on( 'dragEnd', function( e ) {
                //get distance from center
                var dist = {
                  x: (parseInt(e.target.style.left)- pad_x)/(2/3),
                  y: (parseInt(e.target.style.top)- pad_y)/(2/3)
                };
                //make dist relative to container
                dist.x /= size/2;
                dist.y /= size/2;
                //send the data
                socket.emit("sling_fire", dist);
                console.log(dist);
                //reset pad
                e.target.style.left = pad_x+"px";
                e.target.style.top = pad_y+"px";
              });
            }

            make_joystick(stick1, 250);
          };
        </script>
    </head>
    <body>
        <div id="controls">
          <div id="stick1" class="joystick"></div>
        </div>
    </body>
</html>
