<!doctype html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Side-b</title>
        <!-- <link href="assets/css/mobile.css" type="text/css" rel="stylesheet">
        -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.min.js"></script>
        <script src="assets/lib/lodash.js"></script>
        <script src="assets/js/mobile.js"></script>
        <script src="assets/js/vec.js"></script>
        <style>
          #control{

          }
          #stick1{
            position: relative;
            background: black;
            left: 70px;
            top: 70px;
          }
          .joystick{

          }
          .pad{
            position: absolute;
            background: red;
          }
        </style>
        <script> 
          window.onload = function() {  
            mobile.controller.init();
          };
        </script>
    </head>
    <body>
        <div id="controls">
          <div id="stick1" class="joystick"></div>
        </div>
    </body>
</html>
